@model IEnumerable<LibraryManagement.Models.Kitaplar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_LayoutPanel.cshtml";
}

<script src="/Scripts/jquery-3.3.1.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
<script src="/Scripts/bootbox.min.js"></script>
<!--Bootbox Code-->
<script>
    $(function () {
        $("#tablolardata").on("click", ".btnKategoriSil", function () {
            var btn = $(this);
            bootbox.confirm("Kategoriyi Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    var id = btn.data("id");
                    $.ajax({
                        type: "GET",
                        url: "/PanelKategori/Sil/" + id,
                        success: function () {
                            btn.parent().parent().remove()
                        }

                    });
                }
            })
        });
    });
</script>



<!--Datatable JQuery Code -->
<script>
    $(document).ready(function () {
        $('#tablolardata').DataTable();
    });
</script>
<!---->



<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Kategori Listesi  @Html.ActionLink("Yeni Kategori", "KategoriEkle", null, new { @class = "btn btn-success" })</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table id="tablolardata" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr>
                                            <th>ISBN</th>
                                            <th>Kitap Adı</th>
                                            <th>Kitap Açıklama</th>
                                            <th>Yazarı</th>
                                            <th>Kategorisi</th>
                                            <th>Adet</th>
                                            <th>Güncelle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var book in Model)
                                        {
                                        <tr>
                                            <td>@book.ISBN</td>
                                            <td>@book.KitapAdi</td>
                                            <td>@book.KitapAciklama</td>
                                            <td>@book.Yazarlar.YazarAdi @book.Yazarlar.YazarSoyadi</td>
                                            <td>@book.Kategori.KategoriAdi</td>
                                            <td>@book.Adet</td>


                                            <td> <a class="btn btn-warning btn-fw" href="/PanelKategori/Guncelle/@book.KitapID">Güncelle</a></td>
                                            <td> <a class="btn btn-danger btn-fw btnKategoriSil" style="color:white" data-id="@book.KitapID" id="silinecek">Sil</a></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

